<div class="container">
    <br>
    <h1>HAMBOIGAS</h1>

    <p>Hello</p>

    <div id="toeat"></div>
    <div id="eaten"></div>

    <div class="form-group">
        <label for="burgername">Put in a burger name!</label>
        <textarea class="form-control" id="burger_name" rows="2"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
</div>