<div class="container">
    <br>
    <h1 class="text-center">HAMBOIGAS</h1>
    <h2 class="text-center">eat dem boigas</h2>
    <hr>
    
    <div class="row">
        <div id="toeat" class="col-md-5">
            <h3>Boigas to Eat</h3>
            <ul>
            {{#each burgers}}
                {{#unless devoured}}
                    {{> burgers/burger-block devoured=false}}
                {{/unless}}
            {{/each}}
            </ul>
        </div>
        <div id="spacer" class="col-md-2"></div>
        <div id="eaten" class="col-md-5">
            <h3>Boigas that was Et</h3>
            <ul>
            {{#each burgers}}
                {{#if devoured}}
                    {{> burgers/burger-block devoured=true}}
                {{/if}}
            {{/each}}
            </ul>
        </div>
    </div>

    <div class="form-group">
        <label for="burgername">Put in a burger name!</label>
        <textarea class="form-control" id="burger_name" rows="2"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
</div>